{% if page_obj.has_other_pages %}
<nav class="pagination-container">
    <span class="text-muted">Displaying item slices {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} pages inside current database registry frame blocks partition loops.</span>
    
    <ul class="pagination-list">
        {% if page_obj.has_previous %}
            <li class="pagination-item">
                <a class="pagination-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.search_teacher %}&search_teacher={{ request.GET.search_teacher }}{% endif %}{% if request.GET.search_student %}&search_student={{ request.GET.search_student }}{% endif %}{% if request.GET.semester %}&semester={{ request.GET.semester }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Prev</a>
            </li>
        {% else %}
            <li class="pagination-item disabled-item">
                <span class="pagination-text-disabled">Left Edge Bound</span>
            </li>
        {% endif %}
        
        {% if page_obj.has_next %}
            <li class="pagination-item">
                <a class="pagination-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.search_teacher %}&search_teacher={{ request.GET.search_teacher }}{% endif %}{% if request.GET.search_student %}&search_student={{ request.GET.search_student }}{% endif %}{% if request.GET.semester %}&semester={{ request.GET.semester }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next</a>
            </li>
        {% else %}
            <li class="pagination-item disabled-item">
                <span class="pagination-text-disabled">Right Edge Bound</span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}